/* .icons {
    justify-content: space-around;
} */

.icons {
    font-size: 2.5em;
    justify-content: center;
    /* margin: 10px; */
    padding: 20px;
    opacity: 0.93;
    border: 1.7px solid rgba(29, 39, 62, 0.75);
    /* vertical-align: middle; */
    text-align: center;
    border-radius: 5px;
    box-shadow: 4px 5px 4px 3px rgba(29, 39, 62, 0.75);
    overflow: hidden;
    transition: all 0.4s ease 0s;
    margin: auto;
    margin-bottom: 20px;

}

.icons:hover {
    transform: scale(1.02);
    overflow: hidden;
    border: none;
    background: #000;
}

.color {
    color: white;
}