.linea {
    border-right: 2px solid black;

}

.arriba {
    position: relative;
    bottom: 573px;

}

.primero {
    background-color: #283959;
    /* cursor: pointer; */
    border: none;
    /* poner el pointer cuando este encima */


}

.segundo {
    background-color: white;
}