.paddingColum {
    padding: 10px 200px;
}

.botonDetalles {
    display: inline-block;
    /* border-radius: 4px; */
    background-color: #3d405b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 190px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-radius: 25px;
}

.botonDetalles::after {
    position: absolute;
    top: 14.5px;
    right: 7px;
    width: 48px;
    height: 47px;
    content: '»';
    /* transition: 0.5s; */
}

.tamnioLetra {
    font-size: 54px;
}