.paddingColum {
    padding: 10px 200px;
}

.botonDetalles {
    display: inline-block;
    /* border-radius: 4px; */
    background-color: #3d405b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 190px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-radius: 25px;
}

.botonDetalles:hover {
    background-color: aquamarine;
}

.botonDetalles span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.botonDetalles span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

.botonDetalles:hover span {
    padding-right: 15px;
}

.botonDetalles:hover span:after {
    opacity: 1;
    right: 0;

}