.image {
    width: 185vh;
    height: 65vh;
    object-fit: cover;

}

.image2Esfera {
    position: relative;
    bottom: 300px;
}

.image2Tamaño {
    background-size: cover;
    width: 415px;
    height: 415px;
    border: 8px double white;
}

.separacionSuperior {
    margin-top: 110px;
    padding: 130px;
}