/* @import url('https://fonts.cdnfonts.com/css/poppins'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Oswald&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Noto+Sans:wght@100;400&family=Oswald&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Noto Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: 60px;
  overflow-y: hidden;
  padding-bottom: 5px;
}

/* p span {
  font-weight: 300;
  color: #717173;
} */