.active {
    color: black !important;
    font-weight: 700;
    text-decoration: none;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    border-bottom: 2px solid black;
}

.navbarSpy {
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.navbarSpy:hover,
.navbarSpy:focus {
    background-size: 100% 2px;
    color: black;
}

.navbar {
    padding: 30px;
}

a {
    text-decoration: none;
    color: white;
}

.sticky {
    background-color: #00305c52;
    transition: all 0.5s ease-out 0s;
    box-shadow: 0px 15px 15px 0px rgba(9, 5, 29, 0.171);
    backdrop-filter: blur(15px);
    padding: 20px !important;
}

.btn-primary {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 2px;
}

.btn-primary:hover {
    color: black;
    background-color: transparent;
    border: none;
    position: relative;
    bottom: 2px;
    transition-duration: 1s;
    transition-timing-function: ease-out;

}